h6{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    border-style: solid;
    margin-top: 2rem;
}
.footer {
    color: black;
    border-style: solid;
    border-color: black;
    background-color: white;
    margin-top: 2rem;
}